@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Brazil 2014 Services</h1>
    <p class="lead">Bienvenue sur le backoffice de Brazil 2014.</p>

</div>
<div class="row">
    <div class="col-md-3">
        <h2>Actualités</h2>
        <p><a class="btn btn-default" href="/Admin/News">Editer &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Vidéos</h2>
        <p><a class="btn btn-default" href="/Admin/Videos">Editer &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Matchs</h2>
        <p><a class="btn btn-default" href="/Admin/Matches">Editer &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Stades</h2>
        <p><a class="btn btn-default" href="/Admin/Stades">Editer &raquo;</a></p>
    </div>
</div>